@keyframes slideIn {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

.main__heading_box{
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-family: 'Podium_9.11', monospace;
  animation: slideDown 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.main__heading_text{
  width: fit-content;
  font-size: clamp(18px, 3vw, 32px);
}

.main__heading_subtitle {
  opacity: 1;
  font-family: monospace;
  max-height: 100px;
  font-size: clamp(9px, 1.2vw, 10px);
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main__heading_infobox{
  display: flex;
  text-align: right;
  flex-direction: column;
}

.main__heading_information {
  font-weight: 300;
  font-family: monospace;
  /* opacity: 0;
  max-height: 0px; */
  font-size: clamp(7px, 1.2vw, 9px);
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main__section {
    margin: 15px 0;
    overflow: hidden;
    transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: slideIn 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .main__section_title {
    margin: 0;
  }
  
  .main__title {
    font-size: clamp(15px, 2vw, 18px);
    margin: 3px 0;
    font-family: "Podium_9.11", sans-serif;
  }
  
  .main__description {
    font-family: 'Rubik', sans-serif;
    font-size: clamp(14px, 1.5vw, 17px);
  }
  
  .main__section_videos {
    width: 100%;
    overflow: hidden;
  }
  
  .main__section_promo {
    margin-bottom: 0;
  }
  

  @media screen and (max-width: 550px){
    .main__heading_text{
      width: fit-content;
      font-size: 25px;
    }
  }