.page {
  width: 100%;
  height: 100%;
  animation: gradient 8s ease infinite;

  background: linear-gradient(45deg, rgb(32, 34, 40) 0%, #7191cd 100%);
  background-size: 200% 300%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grain {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 300%;
  height: 300%;
  z-index: 200;
  animation: noise 2000ms linear infinite;
  display: flex;
  flex-direction: column;

  mix-blend-mode: multiply;
}

@keyframes zoomIn {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

@keyframes gradient2 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  mask-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8) 90%,
    rgba(19, 89, 99, 0) 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 37px;
  background-color: rgba(16, 16, 16, 0.499);
  backdrop-filter: blur(20px);

  display: flex;
  align-items: center;
}

.header__os_logo {
  height: 100%;
  width: auto;
  margin: 0px 10px 0px 5px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  background-image: url("/art/weird inside logos/weird inside logo clean.png");
  filter: invert(1) brightness(2000%);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  z-index: 10;
  user-select: none;
}

.header__title {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 600;
  cursor: pointer;
  margin: 0 auto 0 0;
  user-select: none;
}

.header__information {
  margin-right: 10px;
}

.header__information_time {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
}

.page__outlet {
  width: 0%;
  height: 0%;
  position: absolute;
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  filter: drop-shadow(0 0 20px #000);
}

.page__outlet.active {
  min-width: 90%;
  width: 90%;
  height: 90%;
  z-index: 20;
}

.logo__container {
  display: flex;
  align-items: center;
  position: absolute;

  width: 200px;
  height: 200px;
}

.nav__item {
  position: absolute;
}

.nav__item.music {
  top: -70%;
  left: -70%;
  scale: 0.5;
}

.nav__item.code {
  right: -20%;
  top: -95%;
  scale: 0.5;
}

.page__content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.page__center {
  position: relative;
  display: flex;
  width: max-content;
  height: max-content;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes noise {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 10000%;
  }
}
