.page {
  width: 100%;
  height: 100%;

  overflow: auto;
  display: flex;
  margin: 0 auto;

  max-width: 1280px;
  background: var(--bg-cold-start);
  user-select: none;
  display: flex;
  flex-direction: column;

  font-family: monospace;
}

.page__container {
  display: flex;
  height: 100%;
  flex-direction: row;
  margin: 20px;
  overflow: hidden;
}

.column__nav {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 300px;
  width: 27%;
  flex-shrink: 1;
}

.nav__block {
  display: flex;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
  flex-direction: column;
}

.rrst__logo {
  aspect-ratio: 3.6 / 1;
  width: 100%;
  height: auto;
}

.rrst__description {
  font-family: monospace;
  font-size: clamp(12px, 1.2vw, 15px);
  margin: 15px 0;
}

.column__content {
  margin: 0 5px 0 20px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

.main__section {
  margin: 15px 0;
  overflow: hidden;
}

.main__section_abstract {
  margin: 0;
}

.main__title {
  font-size: clamp(15px, 2vw, 15px);
  margin: 3px 0;
  font-family: "Podium_9.11", sans-serif;
}

.main__description {
  font-family: "Rubik", sans-serif;
  font-size: clamp(14px, 1.5vw, 17px);
}

.main__section_videos {
  width: 100%;
  overflow: hidden;
}

.main__section_promo {
  margin-bottom: 0;
}

.nav__link {
  margin: 10px 0;
  width: fit-content;
}

.nav__link:hover {
  .nav__link_title {
    opacity: 0.5;
  }

  .nav__link_title_text {
    mix-blend-mode: difference;
    margin-left: 10px;
    scale: 1.1;
  }

  .nav__link_title_stroke {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.nav__link_title_text::before {
  content: "";
}

.nav__link_title_text::after {
  content: "";
}

.nav__link.active {
  .nav__link_title_text {
    font-size: clamp(17px, 2.4vw, 24px);
    font-weight: 600;
    margin-left: 6px;
    mix-blend-mode: difference;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .nav__link_title_text::before {
    content: "";
  }

  .nav__link_title_text::after {
    content: "";
  }

  .nav__link_title_stroke {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .nav__link_subtitle {
    opacity: 1;
    max-height: 550px;
    font-size: clamp(14px, 2vw, 16px);
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .nav__link_information {
    opacity: 1;
    max-height: 550px;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.nav__link_title {
  position: relative;
  overflow: visible;
  width: max-content;
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav__link_title_text {
  position: relative;
  font-family: "terminal_grotesque", monospace;
  font-style: normal;
  font-weight: 400;
  font-style: italic;
  z-index: 3;
  font-size: clamp(15px, 2vw, 20px);
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav__link_title_stroke {
  overflow: visible;
  position: absolute;
  top: -20%;
  left: -5%;
  background-image: url("../../../assets/stroke.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 0;
  width: 120%;
  height: 140%;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__link_subtitle {
  opacity: 1;
  max-height: 100px;
  font-size: clamp(11px, 1.2vw, 12px);
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav__link_information {
  font-weight: 300;
  opacity: 0;
  max-height: 0px;
  font-size: clamp(10px, 1.2vw, 12px);
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideIn {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes clipIn {
  from {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* ----------------------------------------- */
/*             MOBILE BREAKPOINT 1           */
/* ----------------------------------------- */

@media screen and (max-width: 550px) {
  .page {
    height: 100%;
  }

  .page__container {
    margin: 15px;
    height: 100%;
  }

  .rrst__logo {
    max-width: 200px;
  }

  .column__nav {
    width: 100%;
    height: 100%;
    animation: slideIn 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .column__nav.hidden {
    width: 0px;
    margin: 0;
    padding: 0;
    display: none;
    overflow: hidden;
    position: absolute;
    opacity: 0;
  }

  .column__content.hidden {
    width: 0px;
    display: none;
  }

  .column__content {
    margin: 0;
  }
}
