.page {
  width: 100vw;
  height: 100%;

  overflow: auto;
  display: flex;
  margin: 0 auto;

  max-width: 1280px;
  background-color: var(--bg-dark-blue);

  user-select: none;
  display: flex;
  flex-direction: column;

  font-family: monospace;
}

.page__container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  overflow: hidden;
}

.column__nav {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 300px;
  width: 25%;
  flex-shrink: 1;
}

.nav__block{
  display: flex;
  height: 100%;
  overflow-y: auto;
  flex-direction: column;
}

.rrst__logo {
  aspect-ratio: 3.6 / 1;
  width: 100%;
  height: auto;
}

.rrst__description {
  font-family: monospace;
  font-size: clamp(12px, 1.2vw, 15px);
  margin: 15px 0;
}

.column__content {
  margin: 0 5px 0 20px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.main__section {
  margin: 15px 0;
  overflow: hidden;
}

.main__section_abstract {
  margin: 0;
}

.main__title {
  font-size: clamp(15px, 2vw, 15px);
  margin: 3px 0;
  font-family: "Podium_9.11", sans-serif;
}

.main__description {
  font-family: sans-serif;
  font-size: clamp(14px, 1.5vw, 17px);
}

.main__section_videos {
  width: 100%;
  overflow: hidden;
}

.main__section_promo {
  margin-bottom: 0;
}

.nav__link {
  margin: 10px 0;
}

.nav__link:hover {
  .nav__link_title {
    opacity: 0.5;
  }
}

.nav__link.active {
  .nav__link_title {
    font-size: clamp(17px, 2.4vw, 24px);
    font-style: italic;
    font-weight: 600;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .nav__link_subtitle {
    visibility: visible;
    max-height: 2000px;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .nav__link_information {
    visibility: visible;
    max-height: 2000px;
    transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.nav__link_title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(15px, 2vw, 20px);
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav__link_subtitle {
  visibility: hidden;
  max-height: 0px;
  font-size: clamp(14px, 2vw, 16px);
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav__link_information {
  visibility: hidden;
  font-weight: 300;
  max-height: 0px;
  font-size: clamp(10px, 1.5vw, 14px);
  transition: 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes slideIn {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* ----------------------------------------- */
/*             MOBILE BREAKPOINT 1           */
/* ----------------------------------------- */

@media screen and (max-width: 500px) {

  .page{
    height: 100%;
  }

  .page__container{
    margin: 15px;
    height: 100%;
  }

  .rrst__logo{
    max-width: 200px;
  }
  
  .column__nav{
    width: 100%;
    height: 100%;
    animation: slideIn 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .column__nav.hidden{
    width: 0px;
    margin: 0;
    padding: 0;
    display: none;
    overflow: hidden;
    position: absolute;
    opacity: 0;
  }

  .column__content.hidden{
    width: 0px;
    display: none;
  }

  .column__content{
    margin: 0;
  }
}
