.page {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  border-radius: 10px;
  scale: 0;
  z-index: 9999;
  overflow: hidden;
  background: #d4dae6;
  border-radius: 10px;
  animation: zoomIn 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.header {
  height: 120px;
  background: linear-gradient(#eaeaea, #92969b);
  display: flex;
  flex-direction: column;
}

.header__top {
  height: 20px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin: 5px 0;
  color: black;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
}

.header__name {
  font-size: 18px;
  position: absolute;
}

.header__search_container {
  position: absolute;
  right: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__search_icon {
  position: absolute;
  left: 3%;
  color: rgba(0, 0, 0, 0.43);
}

.music__content {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.column__nav {
  width: 16%;
}

.outlet {
  width: 84%;
  overflow-y: auto;
}

.header__search {
  border-radius: 50px;
  border: none;
  padding: 6px 10px;
  text-align: right;
  font-size: 16px;
  box-shadow: inset 0px 0px 5px #000;
}

.header__close_button {
  height: 100%;
  width: auto;
  margin: 0 auto 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  aspect-ratio: 1/1;
  background-color: rgb(228, 105, 105);
}

.header__close_button:hover {
  background-color: rgb(214, 88, 88);
}

.header__close_button:hover::before {
  position: absolute;
  content: "✕";
  color: rgb(0, 0, 0);
  font-size: 9px;
}

.header__close_button:active {
  background-color: rgb(130, 55, 55);
}

.header__player {
  width: 40%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: linear-gradient(
    0deg,
    #e8eed9 0%,
    #e1e9cd 50%,
    #dbe4bf 51%,
    #f4f7d9 100%
  );
  position: relative;
  box-shadow: inset 0 0px 4px rgb(0, 0, 0);
}

.header__digital_player {
  color: black;
  font-family: "SF Pro Display", sans-serif;
  width: 100%;

  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100;
  overflow: hidden;
}

.header__main {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.header__player_controls {
  height: 100%;
  width: max-content;
  position: absolute;
  left: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.player__button {
  color: rgba(54, 54, 54, 0.756);
  height: 26px;
  width: auto;
  cursor: pointer;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  border-radius: 100px;
  box-shadow: inset 0px 0px 5px #000;
  background: linear-gradient(180deg, #fcfcfb 0%, #acb0b5 100%);
}

.player__button.play {
  height: 40px;
  padding: 4px;
}

.player__button:active {
  box-shadow: inset 0px 0px 5px #000;
  background: linear-gradient(180deg, #d6d6d6 0%, #85898d 100%);
}

.header__player_logo {
  position: absolute;
  mask-image: url("/art/wos.png");
  mask-position: center;
  mask-size: contain;
  opacity: 0.6;
  mask-repeat: no-repeat;
  background: linear-gradient(
    180deg,
    #1515156f 0%,
    #151515ad 50%,
    #151515d0 51%,
    #151515 100%
  );
  height: 120%;
  width: auto;
  aspect-ratio: 1/1;
}

.column__nav {
  color: black;
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  font-weight: 400;
  user-select: none;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-right: 1px solid #8b8b8a5c;
  gap: 10px;
}

.column__nav_section {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.nav__section_title {
  font-size: 16px;
  font-weight: 800;
  padding-left: 5px;
  opacity: 0.4;
  cursor: pointer;
}

.nav__section_title.active {
  color: white;
  opacity: 1;
  text-shadow: 0px 0px 2px #000;
  background: linear-gradient(#a2b3d4, #8194bc);
}

.nav__section_option {
  width: calc(100% - 10px);
  padding-left: 10px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.nav__section_option.active {
  color: white;
  font-weight: 600;
  text-shadow: 0px 0px 2px #000;
  background: linear-gradient(#a2b3d4, #8194bc);
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 60%;
  height: 10px;
  background: linear-gradient(90deg, #00000035 calc(100% - 2px), rgba(0, 0, 0, 0.276) 0);
  background-size: calc((100% - 60*2px)/40 + 2px) 100%;
  border: 1px solid black;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.time__controls{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.time{
  position: absolute;
  left: 5%
}

.time.duration{
  left: auto;
  right: 5%;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #000000;
  cursor: pointer;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #000000;
  cursor: pointer;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.footer {
  height: 28px;
  background: linear-gradient(#adaeb0, #858687);
}

@keyframes zoomIn {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

/* ------------------------------------ */
/* ------------ BREAKPOINT 1 ---------- */
/* ------------------------------------ */

@media screen and (max-width: 900px) {
  .column__nav {
    width: 25%;
  }

  .outlet {
    width: 75%;
  }
}

/* ------------------------------------ */
/* ------------ BREAKPOINT 2 ---------- */
/* ------------------------------------ */

@media screen and (max-width: 650px) {
  .column__nav {
    width: 0%;
    overflow: hidden;
  }
  .outlet {
    width: 100%;
  }
}
