.page {
  width: calc(100% - 45px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* border: 2px solid rgb(232, 227, 220); */
  color: white;
  background-color: #343434;
  border-radius: 10px;
}

.text {
  color: white;
  max-width: 697px;
}

.subheading{
  margin: 10px;
}

.heading {
  color: white;
  font-size: 20px;
}

.text__container {
  border: 2px solid white;
  border-radius: 5px;
  padding: 0px 5px;
  color: white;
  height: max-content;
  font-family: sans-serif;
}

.input__label {
  display: flex;
  font-style: italic;
  flex-direction: column;
  gap: 5px;
  font-weight: 500;
  font-size: 17px;
  width: 100%;
  margin: 4px 0;
}

.slider {
  width: 100%;
}

.inputs {
  gap: 17px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text__input {
  border: none;
  color: white;
  padding: 3px;
  border-bottom: 2px solid white;
  background-color: transparent;
  font-size: 17px;
}

.codeview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 697px;
}

.codeview__heading {
  font-size: 30px;
  text-align: left;
  color: white;
  width: 100%;
}


.codeview__body {
  color: white;
  padding: 20px;
  background-color: rgb(10, 10, 10);
  border-radius: 10px;
}
