.page {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  font-family: "SF Pro Display", sans-serif;
  padding: 10px;
  user-select: none;
  color: black;
}

.section {
}

.main__heading_box {
  width: 100%;
  display: flex;
  height: max-content;
  align-items: center;
  justify-content: space-between;
}

.main__heading_text {
  font-family: "Apple Garamond", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 60px;
}

.main__heading_subtitle {
  font-family: monospace;
  font-size: 12px;
}

.main__heading_information {
  font-family: monospace;
  font-size: 10px;
  margin-right: 25px;
}

.section__title {
  font-family: "Apple Garamond", sans-serif;
  font-weight: normal;
  font-size: 30px;
}

.section.abstract {
}

.description {
}
