.header {
    width: 100%;
    height: 80px;
    display: flex;
    max-width: 1280px;
    align-items: center;
  }
  
  .header__logo {
    height: 120%;
    width: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    filter: invert(1);
    margin: 0 auto 0 0;
    background-position: center;
    background-size: 69%;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .header__logo {
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    scale: 1.1;
    filter: invert(0);
    background-image: url("/art/weird\ inside\ logos/weird inside logo.gif");
  }
  
  .header__back {
    margin: 0 20px 0 auto;
    font-style: italic;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: clamp(14px, 3vw, 18px);
    padding: 10px;
    cursor: pointer;
    border: 2px solid white;
    color: white;
    border-radius: 400px;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  .header__back:hover{
    border: 2px solid white;
    color: black;
    background-color: white;

    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }