.page {
  font-family: monospace;
  font-size: clamp(12px, 3vw, 15px);
  user-select: none;
  opacity: 0;
  height: 100%;
  width: calc(100% - 30px);
  overflow: hidden;
  margin: 10px 15px;
  animation: fadeIn 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.heading {
  color: #5bbdff;
}

.page__content {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.link {
  color: #f09165;
}

.link:hover {
  color: #569ad7;
  text-decoration: underline;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
