.page {
  background: var(--bg-dark-blue);
  width: 100svw;
  height: 100svh;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}