@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "terminal_grotesque";
  src: url("/fonts/terminal-grotesque-webfont.eot");
  src: url("/fonts/terminal-grotesque-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/terminal-grotesque-webfont.woff2") format("woff2"),
    url("/fonts/terminal-grotesque-webfont.woff") format("woff"),
    url("/fonts/terminal-grotesque-webfont.ttf") format("truetype"),
    url("/fonts/terminal-grotesque-webfont.svg#terminal_grotesqueregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFPRODISPLAYBLACK.OTF") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/sf-pro-display/SFPRODISPLAYBLACKITALIC.OTF")
    format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Apple Garamond";
  src: url("/fonts/apple-garamond/AppleGaramond.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Apple Garamond";
  src: url("/fonts/apple-garamond/AppleGaramond-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Apple Garamond";
  src: url("/fonts/apple-garamond/AppleGaramond-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Apple Garamond";
  src: url("/fonts/apple-garamond/AppleGaramond-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Apple Garamond";
  src: url("/fonts/apple-garamond/AppleGaramond-BoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Apple Garamond";
  src: url("/fonts/apple-garamond/AppleGaramond-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Druk";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/DrukWideBold.woff") format("woff");
}

@font-face {
  font-family: "Podium_9.11";
  font-style: "normal";
  font-weight: "normal";
  src: url("/fonts/PodiumSharp_9.11.otf");
}

@font-face {
  font-family: "Podium_9.12";
  font-style: "normal";
  font-weight: "normal";
  src: url("/fonts/PodiumSharp_9.12.otf");
}

:root {
  --bg-cold-start: linear-gradient(
    24deg,
    rgba(20, 25, 32, 1) 0%,
    rgba(23, 30, 40, 1) 66%,
    rgb(31, 40, 54) 100%
  );
  --bg-light-blue: #a9b8c9;
  background-color: rgb(31, 40, 54) 100%;
  --bg-cruise-control: linear-gradient(to right top, #10140e, #0c2607);
  --bg-equinox: linear-gradient(to right top, #151514, #292709);
  --bg-cross-country: linear-gradient(to right top, #14171e, #331507);
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(31, 40, 54) 100%;
  overflow: hidden;
}
